<!DOCTYPE html>
<html>
  <head>
    <title>Upload file to S3</title>
    <script src="https://unpkg.com/vue@1.0.28/dist/vue.js"></script>
    <script src="https://unpkg.com/axios@0.2.1/dist/axios.min.js"></script>
  </head>
  <body>
    <div id="app">
      <h1>2S Digital Cv - Video opplastning</h1>
  
      <div v-if="!media">
        <h2>Velg en videofil</h2>
        <input type="file" @change="onFileChange" accept="video/*">
      </div>
      <div v-else>
        <video :src="media" controls></video>
        <button v-if="!uploadURL" @click="removeMedia">Remove media</button>
        <button v-if="!uploadURL" @click="uploadMedia">Upload media</button>
      </div>
      <h2 v-if="uploadURL">Success! Media uploaded to bucket.</h2>
    </div>
  
    <script>
      const MAX_MEDIA_SIZE = 3 * 1024 * 1024 * 1024;

      /* ENTER YOUR ENDPOINT HERE */

      const API_ENDPOINT = 'https://tr6grf05gc.execute-api.eu-north-1.amazonaws.com/uploads';

      new Vue({
        el: "#app",
        data: {
          media: '',
          uploadURL: ''
        },
        methods: {
          onFileChange(e) {
            let files = e.target.files || e.dataTransfer.files
            if (!files.length) return
            this.createFile(files[0])
          },
          createFile(file) {
            let reader = new FileReader()
            reader.onload = (e) => {
              if (!e.target.result.includes('data:video')) {
                return alert('Wrong file type - video only.')
              }
              if (e.target.result.length > MAX_MEDIA_SIZE) {
                return alert('Video is too large.')
              }
              this.media = e.target.result
            }
            reader.readAsDataURL(file)
          },
          removeMedia() {
            console.log('Remove clicked')
            this.media = ''
          },
          async uploadMedia() {
            console.log('Upload clicked');
            try {
              // Call the backend to get the pre-signed URL and fields
              const presignedResponse = await axios.get(API_ENDPOINT);
              console.log('Presigned Response data: ', presignedResponse.data);
              console.log('Presigned Response: ', presignedResponse);
              console.log('Presigned Response data uploadUrl: ', presignedResponse.data.UploadURL);
              console.log('Presigned Response data uploadUrl url: ', presignedResponse.data.UploadURL.url);
              
              // Check if the presignedResponse has the expected properties
              if (!presignedResponse.data || !presignedResponse.data.uploadURL || !presignedResponse.data.uploadURL.url) {
                console.error('Invalid response received from the backend', presignedResponse);
                return;
              }
          
              const { url, fields } = presignedResponse.data.uploadURL;
              const formData = new FormData();
          
              // Append the fields to the form data
              Object.entries(fields).forEach(([key, value]) => {
                formData.append(key, value);
              });
          
              // Append the file (blob) to the form data
              let binary = atob(this.media.split(',')[1]);
              let array = [];
              for (let i = 0; i < binary.length; i++) {
                array.push(binary.charCodeAt(i));
              }
              let blobData = new Blob([new Uint8Array(array)], { type: 'video/mp4' });
              formData.append('file', blobData);
          
              // Use the pre-signed URL to upload the video file
              const uploadResult = await axios.post(url, formData);
          
              console.log('Upload Result: ', uploadResult);
              
              // If the upload is successful, store the URL of the uploaded object
              if (uploadResult.status === 200 || uploadResult.status === 204) {
                this.uploadURL = presignedResponse.data.objectURL;
                console.log('Upload successful. Object URL:', this.uploadURL);
              } else {
                console.error('Upload failed:', uploadResult);
              }
            } catch (error) {
              console.error('Error during upload:', error);
              if (error.response) {
                // Log more details about the HTTP response
                console.error('Response data:', error.response.data);
                console.error('Response status:', error.response.status);
                console.error('Response headers:', error.response.headers);
              } else if (error.request) {
                // The request was made but no response was received
                console.error('Request made, no response:', error.request);
              } else {
                // Something happened in setting up the request that triggered an Error
                console.error('Error message:', error.message);
              }
            }
          }

        }
      })
    </script>
    <style type="text/css">
      body {
        background: #20262E;
        padding: 20px;
        font-family: sans-serif;
      }
      #app {
        background: #fff;
        border-radius: 4px;
        padding: 20px;
        transition: all 0.2s;
        text-align: center;
      }
      h2 {
        font-weight: bold;
        margin-bottom: 15px;
      }
      h1, h2 {
        font-weight: normal;
        margin-bottom: 15px;
      }
      video {
        width: 50%;
        margin: auto;
        display: block;
        margin-bottom: 10px;
      }
    </style>
  </body>
</html>